<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>RISE STUDIOS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
	<center><img src="Rise_Film_Studios_Logo.jpg" alt="rise studios logo"></img></center>
<header>


	<style>
img {
    display: block;
}
	div {
  margin: 20px;
  
}
</style>
<style>

.flex-container {
  display: flex;
  flex-wrap: wrap;
	align-content: stretch;
  background-color: 1B2433;
  background-repeat: no-repeat;
  background-size: auto;
}	
	.flex-container>div}
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
p.ex1 {
  margin: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
	font-family: Verdana;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
	* {
  box-sizing: border-box;
}
	body {
  margin: 0;
}
</style>
</head>
<body>
<style>
	
	
	body {
        background-image: url("800px-HarrisRanchInn.jpg" alt "Harris Ranch Inn";
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
			body {
				font-size: 100%;
			}
		</style>
<div class="container"> <img src="Images/800px-HarrisRanchInn.jpg" alt="Harris Ranch Inn" style="width:100%;opacity: 0.30;"> <br>
  <br>
  <br>
  <br>
  
  <h1>
    <bold>
    <div class="centered">
    PROPOSAL <br>
		<br>
    This website provides information on plans to build a new film studio and creative arts hub at the famed Harris Ranch in California's Central Valley. <br>
    <br>
    We will champion the creativity of Latinos, women, and other underrepresented groups in the film arts on a national stage.<br>
   <br>
    <br>
    <br>
    <a href="read more/">Read More</a></h1>
  <br>
  <br>
</div>
<style>
	
nav {
  float: center;
  width: 30%;
  height: 40px;
  background: #fff;
  padding: 10px; 
}
	<style>
	
footer {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: white;
}
</style>
<center>
  <h1><strong>HARRIS RANCH</strong></h1>
  <center>
  </center>
</center>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: 717173;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	align-items: center;
	justify-items: center;

}

li a:hover {
  background-color: #DCDCDC;
}
</style>
</head>
<body>
<ul>
  <li>
 <div class="center">
  <li><a href="https://www.harrisranch.com/">Home</a></li>
  <li><a href="https://www.harrisranch.com/harris-ranch-history/">History</a></li>
  <li><a href="https://www.harrisranch.com/galleries/">Galleries</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">The Inn</a></li>
  <li><a href="https://www.harrisranch.com/meetings/">Event Center</a></li>
  <li><a href="https://www.harrisranch.com/steakhouse/">Restaurants</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">Country Store</a></li>
  <li><a href="#https://www.harrisfarmsinc.com/harrisfresh/about/index.html">Harris Farms</a></li>
  <li><a href="https://www.harrisfarms.com/horse-division/">Thoroughbreds</a></li>
  <li><a href="https://www.harrisranch.com/onsite-amenities/#!/fasttrack">Fuel</a></li>
  <li><a href="http://www.airnav.com/airport/3O8">Airport</a></li>
  <li><a href="#https://www.harrisranch.com/contact/">Directions</a></li>
  </div>
</ul>
<br>
<br>
<center>
  <h1><strong>RISE STUDIOS</strong></h1>
  <center>
  </center>
</center>
<style>
nav {
  float: center;
  width: 30%;
  height: 40px;
  background: #fff;
  padding: 10px;
}
	<style>
	
footer {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: white;
}
</style>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: 717173;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	align-items: center;
	justify-items: center;
}

li a:hover {
  background-color: #DCDCDC;
}
</style>
	</head>
<body>
<ul>
  <div class="topnav-centered">
  <li><a href="https://www.harrisranch.com/">Home</a></i></li>
  <li><a href="https://www.harrisranch.com/harris-ranch-history/">Map</a></li>
  <li><a href="https://www.harrisranch.com/galleries/">Facilities</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">Stages</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">Sets</a></li>
  <li><a href="https://www.harrisranch.com/meetings/">Offices</a></li>
  <li><a href="https://www.harrisranch.com/steakhouse/">Shops</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">Commissary</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">Health & Fitness</a></li>
  <li><a href="#https://www.harrisranch.com/bakery/">Store & Supplies</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">Warehouse</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">General Services</a></li>
	<li><a href="https://www.harrisranch.com/room-options/">Backlots</a></li>
</ul>
<br>
<br>
<center>
  <h1>FILMING LOCATIONS</h1>
</center>
<center>
  <p>Harris Ranch is surrounded by some of the most beautiful filming locations in the world, as well as every other filming location you could imagine. </p>
</center>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
<center>
  <form>
    Pick a topic:
    <input type="radio" ng-model="myVar" value="a">
    A
    <input type="radio" ng-model="myVar" value="b">
    B
    <input type="radio" ng-model="myVar" value="c">
    C
    <input type="radio" ng-model="myVar" value="d">
    D
    <input type="radio" ng-model="myVar" value="e">
    E
    <input type="radio" ng-model="myVar" value="f">
    F
    <input type="radio" ng-model="myVar" value="g">
    G
    <input type="radio" ng-model="myVar" value="h">
    H
    <input type="radio" ng-model="myVar" value="i">
    I
    <input type="radio" ng-model="myVar" value="j">
    J
    <input type="radio" ng-model="myVar" value="k">
    K
    <input type="radio" ng-model="myVar" value="l">
    L
    <input type="radio" ng-model="myVar" value="m">
    M
    <input type="radio" ng-model="myVar" value="n">
    N
    <input type="radio" ng-model="myVar" value="o">
    O
    <input type="radio" ng-model="myVar" value="p">
    P
    <input type="radio" ng-model="myVar" value="q">
    Q
    <input type="radio" ng-model="myVar" value="r">
    R
    <input type="radio" ng-model="myVar" value="s">
    S
    <input type="radio" ng-model="myVar" value="t">
    T
    <input type="radio" ng-model="myVar" value="u">
    U
    <input type="radio" ng-model="myVar" value="v">
    V
    <input type="radio" ng-model="myVar" value="w">
    W
    <input type="radio" ng-model="myVar" value="x">
    X
    <input type="radio" ng-model="myVar" value="y">
    Y
    <input type="radio" ng-model="myVar" value="z">
    Z
  </form>
</center>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
<div ng-switch="myVar">
  <div ng-switch-when="a">
    <h1>Accommodations</h1>
	  <a href="/Bed_Breakfasts.html" >  Bed & Breakfasts </a>
      <p><a href="/elder & youth hostels/default.asp">Elder & Youth Hostels</a></p>
      <p><a href="/hotels/default.asp">Hotels</a></p>
      <p><a href="/lodges/default.asp">Lodges</a></p>
      <p><a href="/motels/default.asp">Motels</a></p>
      <p><a href="/resorts & spas/default.asp">Resorts & Spas</a></p>
    <h1>Agriculture</h1>
      <p><a href="/barns/default.asp">Barns</a></p>
      <p><a href="/crops/default.asp">Crops</a></p>
      <p><a href="/dairy production/default.asp">Dairy Production</a></p>
      <p><a href="/exotic animals/default.asp">Exotic Animals</a></p>
      <p><a href="/farms/ranches/farm stands/default.asp">Farms/Ranches/Farm Stands</a></p>
      <p><a href="/hatcheries/default.asp">Hatcheries</a></p>
      <p><a href="/landscaping/default.asp">Landscaping</a></p>
      <p><a href="/livestock/default.asp">Livestock</a></p>
      <p><a href="/orchards/default.asp">Orchards</a></p>
      <p><a href="/vineyards/default.asp">Vineyards</a></p>
    <h1>Auditoriums</h1>
      <p><a href="/amphiteaters/pavilions/default.asp">Amphitheaters/Pavilions</a></p>
      <p><a href="/concert halls/opera houses/default.asp">Concert Halls/Opera Houses</a></p>
      <p><a href="/drive in theaters/default.asp">Drive In Theaters</a></p>
      <p><a href="/IMAX Theater/default.asp">IMAX Theater</a></p>
      <p><a href="/movie houses/default.asp">Movie Houses</a></p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch="myVar">
    <div ng-switch-when="b">
      <h1>Bars/Nightclubs</h1>
      <p><a href="/beer gardens & beer halls/default.asp">Beer Gardens & Beer Halls</a></p>
      <p><a href="/dive bars/default.asp">Dive Bars</a></p>
      <p><a href="/country western/default.asp">Country Western</a></p>
      <p><a href="/hotel lounges/default.asp">Hotel Lounges</a></p>
      <p><a href="/microbreweries/default.asp">Microbreweries</a></p>
      <p><a href="/neighborhood/default.asp">Neighborhood</a></p>
      <p><a href="/sports/default.asp">Sports</a></p>
      <p><a href="/striptease/gentlemen's clubs/default.asp">Striptease/Gentlemen's Clubs</a></p>
      <p><a href="/theme/default.asp">Theme</a></p>
      <p><a href="/upscale/default.asp">Upscale</a></p>
      <p><a href="/waterfront/default.asp">Waterfront</a></p>
      <p><a href="/wine/default.asp">Wine</a></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body ng-app="">
    <div ng-switch="myVar">
      <div ng-switch-when="c">
        <h1>Cemeteries/Funerals</h1>
        <p><a href="/chapel/church/default.asp">Chapel/Church</a></p>
        <p><a href="/funeral homes & mortuaries/default.asp">Funeral Homes & Mortuaries</a></p>
        <p><a href="/historic/default.asp">Historic</a></p>
        <p><a href="/military/veterans/default.asp">Military/Veterans</a></p>
        <p><a href="/morgues/default.asp">Morgues</a></p>
        <p><a href="/municipal/default.asp">Municipal</a></p>
        <p><a href="/private/default.asp">Private</a></p>
        <h1>Cities, Towns & Public Spaces</h1>
        <p><a href="/border towns/default.asp">Border Towns</a></p>
        <p><a href="/cityscapes/aerial views/default.asp">Cityscapes/Aerial Views</a></p>
        <p><a href="/coastal towns/default.asp">Coastal Towns</a></p>
        <p><a href="/farm/rural towns/default.asp">Farm/Rural Towns</a></p>
        <p><a href="/fountains & statues/default.asp">Fountains & Statues</a></p>
        <p><a href="/historic districts/default.asp">Historic Districts</a></p>
        <p><a href="/murals/graffiti/default.asp">Murals/Graffiti</a></p>
        <p><a href="/small towns/main streets/default.asp">Small Towns/Main Streets</a></p>
        <p><a href="/town squares & plazas/default.asp">Town Squares & Plazas</a></p>
        <p><a href="/vacant lots/abandoned buildings/default.asp">Vacant Lots/Abandoned Buildings</a></p>
        <p><a href="/valley towns/default.asp">Valley Towns</a></p>
        <p><a href="/western/mining/ghost towns/default.asp">Western/Mining/Ghost Towns</a></p>
        <h1>Commercial-Stores & Retail</h1>
        <p><a href="/big box/default.asp">Big Box</a></p>
        <p><a href="/bookstores/default.asp">Bookstores</a></p>
        <p><a href="/boutique/clothing/shoes/default.asp">Boutique/Clothing/Shoes</a></p>
        <p><a href="/convenience stores/default.asp">Convenience Stores</a></p>
        <p><a href="/department stores/default.asp">Department Stores</a></p>
        <p><a href="/enclosed malls/default.asp">Enclosed Malls</a></p>
        <p><a href="/flea markets/swap meets/default.asp">Flea Markets/Swap Meets</a></p>
        <p><a href="/grocery stores/groceries/default.asp">Grocery Stores/Groceries</a></p>
        <p><a href="/hardware/lumber yards/default.asp">Hardware/Lumber Yards</a></p>
        <p><a href="/western/mining/ghost towns/default.asp">Western/Mining/Ghost Towns</a></p>
        <p><a href="/laundromats.asp">Laundromats</a></p>
        <p><a href="/malls/open malls/default.asp">Malls/Open Malls</a></p>
        <p><a href="/mini malls/strip malls/default.asp">Mini Malls/Strip Malls</a></p>
        <p><a href="/newsstands/default.asp">Newsstands</a></p>
        <p><a href="/pharmacy/drug stores/default.asp">Pharmacy/Drug Stores</a></p>
        <p><a href="/retail districts/default.asp">Retail Districts</a></p>
        <p><a href="/supermarkets/default.asp">Supermarkets</a></p>
        <p><a href="/toys/hobbies/hobby/crafts/default.asp">Toys/Hobbies/Hobby/Crafts</a></p>
        <h1>Commercial Businesses</h1>
        <p><a href="/art galleries/default.asp">Art Galleries</a></p>
        <p><a href="/auto dealerships/default.asp">Auto Dealerships</a></p>
        <p><a href="/auto parts & repair/default.asp">Auto Parts & Repair</a></p>
        <p><a href="/ballrooms & banquet halls/default.asp">Ballrooms & Banquet Halls</a></p>
        <p><a href="/banks/default.asp">Banks</a></p>
        <p><a href="/beauty & barber shops/day spas/default.asp">Beauty & Barber Shops/Day Spas/</a></p>
        <p><a href="/car washes/default.asp">Car Washes</a></p>
        <p><a href="/convention centers/default.asp">Convention Centers</a></p>
        <p><a href="/western/mining/ghost towns/default.asp">Western/Mining/Ghost Towns</a></p>
        <p><a href="/gas stations/default.asp">Gas Stations</a></p>
        <p><a href="/newsrooms/newspaper publishing/press rooms/default.asp">Newsrooms/Newspaper Publishing/Press Rooms</a></p>
        <p><a href="/office buildings.asp">Office Buildings</a></p>
        <p><a href="/office interiors/default.asp">Office Interiors</a></p>
        <p><a href="/other commerical businesses/default.asp">Other Commercial Businesses</a></p>
        <p><a href="/parking lots/structures/default.asp">Parking Lots/Structures</a></p>
        <p><a href="/storage facilities/default.asp">Storage Facilities</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="d">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="e">
        <h1>Entertainment & Leisure</h1>
        <p><a href="/amusement parks/default.asp">Amusement Parks</a></p>
        <p><a href="/aquariums/default.asp">Aquariums</a></p>
        <p><a href="/attractions/carnivals/default.asp">Attractions/Carnivals</a></p>
        <p><a href="/boardwalks/default.asp">Boardwalks</a></p>
        <p><a href="/casinos/card clubs/default.asp">Casinos/Card Clubs</a></p>
        <p><a href="/exhibition halls/fairgrounds/default.asp">Exhibition Halls/Fairgrounds</a></p>
        <p><a href="/water parks/default.asp">Water Parks</a></p>
        <p><a href="/zoos/default.asp">Zoos</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="f">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="g">
        <h1>Gardens</h1>
        <p><a href="/arboretum/botanical/default.asp">Arboretum/Botanical</a></p>
        <p><a href="/community gardens/default.asp">Community Gardens</a></p>
        <p><a href="/desert gardens/default.asp">Desert Gardens</a></p>
        <p><a href="/english/french country/default.asp">English/French Country</a></p>
        <p><a href="/estate grounds/formal/manicured gardens/default.asp">Estate Grounds/Formal/Manicured Gardens</a></p>
        <p><a href="/japanese/asian/chinese/default.asp">Japanese/Asian/Chinese</a></p>
        <p><a href="/mediterranean/default.asp">Mediterranean</a></p>
        <p><a href="/tropical/default.asp">Tropical</a></p>
        <h1>Governmental</h1>
        <p><a href="/civic & community centers/default.asp">Civic & Community Centers</a></p>
        <p><a href="/conservation corps camps/fire camps/default.asp">Conservation Corps Camps/Fire Camps</a></p>
        <p><a href="/courthouses & courtrooms/default.asp">Courthouses & Courtrooms</a></p>
        <p><a href="/fire stations/default.asp">Fire Stations</a></p>
        <p><a href="/government buildings/default.asp">Government Buildings</a></p>
        <p><a href="/police facilities/default.asp">Police Facilities</a></p>
        <p><a href="/prisons & jails/default.asp">Prisons & Jails</a></p>
        <p><a href="/public utilities/default.asp">Public Utilities</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="h">
        <h1>Hospitals/Health Care Facilities</h1>
        <p><a href="/clinics/default.asp">Clinics</a></p>
        <p><a href="/dental offices/default.asp">Dental Offices</a></p>
        <p><a href="/elder care/nursing homes/default.asp">Elder Care/Nursing Homes</a></p>
        <p><a href="/hospitals/default.asp">Hospitals</a></p>
        <p><a href="/medical offices/default.asp">Medical Offices</a></p>
        <p><a href="/veterinarian/animal shelters/default.asp">Veterinarian/Animal Shelters</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="i">
        <h1>Institutional</h1>
        <p><a href="/california missions/default.asp">California Missions</a></p>
        <p><a href="/churches/default.asp">Churches</a></p>
        <p><a href="/convents/retreats/seminary/default.asp">Convents/Retreats/Seminary</a></p>
        <p><a href="/library/default.asp">Library</a></p>
        <p><a href="/shrines/temples/default.asp">Shrines/Temples</a></p>
        <p><a href="/social & fraternal halls/default.asp">Social & Fraternal Halls</a></p>
        <p><a href="/synagogues/default.asp">Synagogues</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="j">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="k">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="l">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="m">
        <h1>Manufacturing & Industrial</h1>
        <p><a href="/container yards/default.asp">Container Yards</a></p>
        <p><a href="/factories/plants/default.asp">Factories/Plants</a></p>
        <p><a href="/basements & boiler rooms/default.asp">Basements & Boiler Rooms</a></p>
        <p><a href="/basements & boiler rooms/default.asp">Basements & Boiler Rooms</a></p>
        <p><a href="/industrial districts/default.asp">Industrial Districts</a></p>
        <p><a href="/junkyards/auto crushers/default.asp">Junkyards/Auto Crushers</a></p>
        <p><a href="/laboratories/research/technical facilities/default.asp">Laboratories/Research/Technical Facilities</a></p>
        <p><a href="/landfills/default.asp">Landfills</a></p>
        <p><a href="/manufacturing districts/default.asp">Manufacturing Districts</a></p>
        <p><a href="/workshops/default.asp">Workshops</a></p>
        <p><a href="/quarries/gravel pits/default.asp">Quarries/Gravel Pits</a></p>
        <p><a href="/oil industry/refineries/default.asp">Oil Industry/Refineries</a></p>
        <p><a href="/recycling facilities/default.asp">Recyling Facilities</a></p>
        <p><a href="/underground tunnels/service tunnels/default.asp">Underground Tunnels/Service Tunnels</a></p>
        <p><a href="/warehouses/default.asp">Warehouses</a></p>
        <h1>Military</h1>
        <p><a href="/california national guard.asp">California National Guard</a></p>
        <p><a href="/historic forts/default.asp">Historic Forts</a></p>
        <p><a href="/ships/vessels/default.asp">Ships/Vessels</a></p>
        <p><a href="/air force/default.asp">Air Force</a></p>
        <p><a href="/us army/default.asp">US Army</a></p>
        <p><a href="/army corps of engineers/default.asp">Army Corps of Engineers</a></p>
        <p><a href="/us marine corps/default.asp">US Marine Corps</a></p>
        <p><a href="/us navy/default.asp">US Navy</a></p>
        <h1>Museums</h1>
        <p><a href="/applied arts/design/default.asp">Applied Arts/Design</a></p>
        <p><a href="/childrens/default.asp">Childrens</a></p>
        <p><a href="/cultural history/default.asp">Cultural History</a></p>
        <p><a href="/film & television/default.asp">Film & Television</a></p>
        <p><a href="/fine arts/default.asp">Fine Arts</a></p>
        <p><a href="/folk arts/default.asp">Folk Arts</a></p>
        <p><a href="/maritime/default.asp">Maritime</a></p>
        <p><a href="/natural history/default.asp">Natural History</a></p>
        <p><a href="/observatories/planetariums/default.asp">Observatories/Planetariums</a></p>
        <p><a href="/science & industries/default.asp">Science & Industries</a></p>
        <p><a href="/transportation/default.asp">Transporation</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="n">
        <h1>Natural Landscapes/Parks</h1>
        <p><a href="/camps/campgrounds/default.asp">Camps/Campgrounds</a></p>
        <p><a href="/canyons/gorges/default.asp">Canyons/Gorges</a></p>
        <p><a href="/caves/caverns/default.asp">Caves/Caverns</a></p>
        <p><a href="/city parks/default.asp">City Parks</a></p>
        <p><a href="/county parks/regional parks/default.asp">County Parks/Regional Parks</a></p>
        <p><a href="/deserts/barren lands/default.asp">Deserts/Barren Lands</a></p>
        <p><a href="/dry lake beds/salt flats/default.asp">Dry Lake Beds/Salt Flats</a></p>
        <p><a href="/federal parks/national parks/default.asp">Federal Parks/National Parks</a></p>
        <p><a href="/forests/woodlands/default.asp">Forests/Woodlands</a></p>
        <p><a href="/jungles/default.asp">Jungles</a></p>
        <p><a href="/mountains/rocks/geologic oddities/default.asp">Mountains/Rocks/Geologic Oddities</a></p>
        <p><a href="/open terrain/scenic vistas/default.asp">Open Terrain/Scenic Vistas</a></p>
        <p><a href="/sand dunes/default.asp">Sand Dunes</a></p>
        <p><a href="/state conservancy lands/default.asp">State Conservancy Lands</a></p>
        <p><a href="/state parks/default.asp">State Parks</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="o">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="p">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="q">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="r">
        <h1>Residential</h1>
        <p><a href="/apartments/condos/default.asp">Apartments/Condos</a></p>
        <p><a href="/brownstones/row houses/default.asp">Brownstones/Row Houses/Parks</a></p>
        <p><a href="/cabins/log houses/default.asp">Cabins/Log Houses</a></p>
        <p><a href="/castles/default.asp">Castles</a></p>
        <p><a href="/duplexes/triplexes/default.asp">Duplexes/Triplexes</a></p>
        <p><a href="/houses/default.asp">Houses</a></p>
        <p><a href="/lofts/studios/default.asp">Lofts/Studios</a></p>
        <p><a href="/low income housing projects/default.asp">Low Income Housing Projects</a></p>
        <p><a href="/mansions/estates/default.asp">Mansions/Estates</a></p>
        <p><a href="/migrant family housing/default.asp">Migrant Family Housing</a></p>
        <p><a href="/military/default.asp">Military</a></p>
        <p><a href="/mobile homes/trailer parks/default.asp">Mobile Homes/Trailer Parks</a></p>
        <p><a href="/neighborhoods/default.asp">Neighborhoods</a></p>
        <p><a href="/planned communities/default.asp">Planned Communities</a></p>
        <p><a href="/shelters/transient housing/default.asp">Shelters/Transient Housing</a></p>
        <p><a href="/tract housing/default.asp">Tract Housing</a></p>
        <h1>Restaurants</h1>
        <p><a href="/50's diners/default.asp">50's Diners</a></p>
        <p><a href="/bakeries/donut shops/default.asp">Bakeries/Donut Shops</a></p>
        <p><a href="/cafe/default.asp">Cafe</a></p>
        <p><a href="/cafeterias/default.asp">Cafeterias</a></p>
        <p><a href="/chain/default.asp">Chain</a></p>
        <p><a href="/coffee houses/default.asp">Coffee Houses</a></p>
        <p><a href="/synagogues/default.asp">Synagogues</a></p>
        <p><a href="/coffee shops/delis/default.asp">Coffee Shops/Delis</a></p>
        <p><a href="/drive ins/default.asp">Drive Ins</a></p>
        <p><a href="/drive through/drive thru/default.asp">Drive Through/Drive Thru</a></p>
        <p><a href="/ethnic/default.asp">Ethnic</a></p>
        <p><a href="/family dining/default.asp">Family Dining</a></p>
        <p><a href="/fast food/default.asp">Fast Food</a></p>
        <p><a href="/food stands/concession stands/default.asp">Food Stands/Concession Stands</a></p>
        <p><a href="/ice cream/default.asp">Ice Cream</a></p>
        <p><a href="/pizzerias/default.asp">Pizzerias</a></p>
        <p><a href="/truck stops/default.asp">Truck Stops</a></p>
        <p><a href="/upscale/default.asp">Upscale</a></p>
        <p><a href="/waterfronts/default.asp">Waterfronts</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="s">
        <h1>Schools</h1>
        <p><a href="/colleges/universities/default.asp">Colleges/Universities</a></p>
        <p><a href="/day care/preschools/default.asp">Day Care/Preschools</a></p>
        <p><a href="/elementary/middle schools/default.asp">Elementary/Middle Schools</a></p>
        <p><a href="/high schools/default.asp">High Schools</a></p>
        <p><a href="/historic schoolhouses/default.asp">Historic Schoolhouses</a></p>
        <p><a href="/trade/technical schools/default.asp">Trade/Technical Schools</a></p>
        <h1>Sports</h1>
        <p><a href="/archery ranges/default.asp">Archery Ranges</a></p>
        <p><a href="/arenas & stadiums/default.asp">Arenas & Stadiums</a></p>
        <p><a href="/baseball/default.asp">Baseball</a></p>
        <p><a href="/basketball oudoor/default.asp">Basketball Outdoor</a></p>
        <p><a href="/billiards/pool halls/default.asp">Billiards/Pool Halls</a></p>
        <p><a href="/bowling alleys/default.asp">Bowling Alleys</a></p>
        <p><a href="/boxing/default.asp">Boxing</a></p>
        <p><a href="/equestrian/horseback riding/polo fields/default.asp">Equestrian/Horseback Riding/Polo Fields</a></p>
        <p><a href="/firing ranges/gun clubs/default.asp">Firing Ranges/Gun Clubs</a></p>
        <p><a href="/football/default.asp">Football</a></p>
        <p><a href="/golf/country clubs/default.asp">Golf/Country Clubs</a></p>
        <p><a href="/gymnasiums/default.asp">Gymnasiums</a></p>
        <p><a href="/health clubs/workout studios/default.asp">Health Clubs/Workout Studios</a></p>
        <p><a href="/ice skating/hockey rinks/default.asp">Ice Skating/Hockey Rinks</a></p>
        <p><a href="/martial arts/default.asp">Martial Arts</a></p>
        <p><a href="/motor raceways/speedways/default.asp">Motor Raceways/Speedways</a></p>
        <p><a href="/outdoor playing fields/tracks/default.asp">Outdoor Playing Fields/Tracks</a></p>
        <p><a href="/racquet sports/tennis/default.asp">Racquet Sports/Tennis</a></p>
        <p><a href="/roller skating rinks/default.asp">Roller Skating Rinks</a></p>
        <p><a href="/skate parks/default.asp">Skate Parks</a></p>
        <p><a href="/skiing/snow sports/default.asp">Skiing/Snow Sports</a></p>
        <p><a href="/swimming pools/default.asp">Swimming Pools</a></p>
        <h1>Studio Facilities</h1>
        <p><a href="/filming/water tanks/default.asp">Filming/Water Tanks</a></p>
        <p><a href="/movie ranches/retreats/default.asp">Movie Ranches/Retreats</a></p>
        <p><a href="/photo studios/labs/default.asp">Photo Studios/Labs</a></p>
        <p><a href="/radio broadcasting/default.asp">Radio Broadcasting</a></p>
        <p><a href="/social & fraternal halls/default.asp">Social & Fraternal Halls</a></p>
        <p><a href="/rehearsal halls/dance studios/default.asp">Rehearsal Halls/Dance Studios</a></p>
        <p><a href="/screening rooms/home theaters/default.asp">Screening Rooms/Home Theaters</a></p>
        <p><a href="/sound stages/default.asp">Sound Stages</a></p>
        <p><a href="/standing sets/default.asp">Standing Sets</a></p>
        <p><a href="/sound recording/scoring stages/default.asp">Sound Recording/Scoring Stages</a></p>
        <p><a href="/television/broadcast/cable/news sets/default.asp">Television/Broadcast/Cable/News Sets</a></p>
        <p><a href="/studio backlots/default.asp">Studio Backlots</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="t">
        <h1>Transportation</h1>
        <p><a href="/aircraft/airports/hangars/default.asp">Aircraft/Airports/Hangars</a></p>
        <p><a href="/airstrips/default.asp">Airstrips</a></p>
        <p><a href="/alleys/default.asp">Alleys</a></p>
        <p><a href="/boats & ships/default.asp">Boats & Ships</a></p>
        <p><a href="/bridges/default.asp">Bridges</a></p>
        <p><a href="/bridges-covered/default.asp">Bridges - Covered</a></p>
        <p><a href="/bridges-moveable/default.asp">Bridges - Moveable</a></p>
        <p><a href="/bridges-pedestrian/default.asp">Bridges-Pedestrian</a></p>
        <p><a href="/buses/bus stations/default.asp">Buses/Bus Stations</a></p>
        <p><a href="/cable cars/trolleys/default.asp">Cable Cars/Trolleys</a></p>
        <p><a href="/ferry service/ferries/default.asp">Ferry Service/Ferries</a></p>
        <p><a href="/freeways/default.asp">Freeways</a></p>
        <p><a href="/tramways/incline railways/default.asp">Tramways/Incline Railways</a></p>
        <p><a href="/heliports/helipads/default.asp">Heliports/Helipads</a></p>
        <p><a href="/maintenance yards/default.asp">Maintenance Yards</a></p>
        <p><a href="/railroads/train stations/depots/default.asp">Railroads/Train Stations/Depots</a></p>
        <p><a href="/roads/highways/default.asp">Roads/Highways</a></p>
        <p><a href="/subways/default.asp">Subways</a></p>
        <p><a href="/tollbooths/default.asp">Tollbooths</a></p>
        <p><a href="/pedestrian tunnels/default.asp">Pedestrain Tunnels</a></p>
        <p><a href="/roadway tunnels/default.asp">Roadway Tunnels</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="u">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="v">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="w">
        <h1>Water & Coastal Areas</h1>
        <p><a href="/beach caves/default.asp">Beach Caves</a></p>
        <p><a href="/beaches/coastline/default.asp">Beaches/Coastline</a></p>
        <p><a href="/coastal dunes/default.asp">Coastal Dunes</a></p>
        <p><a href="/commercial ports/harbors/piers/default.asp">Commercial Ports/Harbors/Piers</a></p>
        <p><a href="/deltas/canals/default.asp">Deltas/Canals</a></p>
        <p><a href="/islands/default.asp">Islands</a></p>
        <p><a href="/lakes/dams/reservoirs/default.asp">Lakes/Dams/Reservoirs</a></p>
        <p><a href="/lighthouses/default.asp">Lighthouses</a></p>
        <p><a href="/marinas/yacht clubs/default.asp">Marinas/Yacht Clubs</a></p>
        <p><a href="/ponds/lagoons/swimming holes/default.asp">Ponds/Lagoons/Swimming Holes</a></p>
        <p><a href="/rivers/rapids/default.asp">Rivers/Rapids</a></p>
        <p><a href="/springs/geysers/default.asp">Springs/Geysers</a></p>
        <p><a href="/swamps/marshes/wetlands/default.asp">Swamps/Marshes/Wetlands</a></p>
        <p><a href="/Waterfalls/default.asp">Waterfalls</a></p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="x">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="y">
        <h1>No Listings</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="z">
        <h1>No Listings</h1>
      </div>
      <div class="w3-main w3-content w3-padding" style="max-width:1200px;">
        <center>
          <h1>PRE-PRODUCTION</h1>
        </center>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <body ng-app="">
        <center>
          <form>
            Pick a topic:
            <input type="radio" ng-model="myVar" value="casting">
            Casting
            <input type="radio" ng-model="myVar" value="directing">
            Directing
            <input type="radio" ng-model="myVar" value="producing">
            Producing
            <input type="radio" ng-model="myVar" value="writing">
            Writing
            <input type="radio" ng-model="myVar" value="location scouting">
            Location Scouting
            <input type="radio" ng-model="myVar" value="storyboarding">
            Storyboarding
          </form>
        </center>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="casting">
		  <h1><a href="/casting/default.asp">Casting</a></h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="directing">
		<h1><a href="/directing/default.asp">Directing</a></h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="producing">
		  <h1><a href="/producing/default.asp">Producing</a></h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="writing">
		<h1><a href="/writing/default.asp">Writing</a></h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="location scouting">
		<h1><a href="/location scouting/default.asp">Location Scouting</a></h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <body ng-app="">
      <div ng-switch-when="storyboarding">
        <h1><a href="/storyboarding/default.asp">Storyboarding</a></h1>
      </div>
      <br>
      <div class="w3-quarter"> <img src="https://s.studiobinder.com/wp-content/uploads/2021/08/How-to-Produce-a-Movie-The-Pre-Production-Process-Explained-Featured.jpg" alt "Pre-Production" style="width:100%"> </div>
      
		  <center>
        <h1>PRODUCTION</h1>
      </center>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body ng-app="">
    <center>
      <form>
        Pick a topic:
        <input type="radio" ng-model="myVar" value="a">
        A
        <input type="radio" ng-model="myVar" value="b">
        B
        <input type="radio" ng-model="myVar" value="c">
        C
        <input type="radio" ng-model="myVar" value="d">
        D
        <input type="radio" ng-model="myVar" value="e">
        E
        <input type="radio" ng-model="myVar" value="f">
        F
        <input type="radio" ng-model="myVar" value="g">
        G
        <input type="radio" ng-model="myVar" value="h">
        H
        <input type="radio" ng-model="myVar" value="i">
        I
        <input type="radio" ng-model="myVar" value="j">
        J
        <input type="radio" ng-model="myVar" value="k">
        K
        <input type="radio" ng-model="myVar" value="l">
        L
        <input type="radio" ng-model="myVar" value="m">
        M
        <input type="radio" ng-model="myVar" value="n">
        N
        <input type="radio" ng-model="myVar" value="o">
        O
        <input type="radio" ng-model="myVar" value="p">
        P
        <input type="radio" ng-model="myVar" value="q">
        Q
        <input type="radio" ng-model="myVar" value="r">
        R
        <input type="radio" ng-model="myVar" value="s">
        S
        <input type="radio" ng-model="myVar" value="t">
        T
        <input type="radio" ng-model="myVar" value="u">
        U
        <input type="radio" ng-model="myVar" value="v">
        V
        <input type="radio" ng-model="myVar" value="w">
        W
        <input type="radio" ng-model="myVar" value="x">
        X
        <input type="radio" ng-model="myVar" value="y">
        Y
        <input type="radio" ng-model="myVar" value="z">
        Z
      </form>
    </center>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="a">
    <p><a href="/animation/default.asp">Animation</a></p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="b">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="c">
	<p><a href="/costumes/default.asp">Costumes</a></p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="d">
	<p><a href="/dressing rooms/default.asp">Dressing Rooms</a></p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="e">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="f">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="g">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="h">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="i">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="j">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="k">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="l">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="m">
	<h1><a href="/mechanical effects/default.asp">Mechanical Effects</a></h1>
    <h1><a href="/movements/default.asp">Movements</a></h1
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="n">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="o">
	  <h1><a href="/on location/default.asp">On Location</a></h1>
      <h1><a href="/on the soundstage/default.asp">On the Soundstage</a></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="p">
	  <h1><a href="/performance capture/default.asp">Performance Capture</a></h1>
      <h1><a href="/photography/default.asp">Photography</a></h1>
    	<p><a href="/director of photography/camera/default.asp">Director of Photography/Camera</a></p>
      <h1>Production</h1>
    	<p><a href="/back production/default.asp">Back Production</a></p>
    	<p><a href="/front projection/default.asp">Front Projection</a></p>
    	<p><a href="/production designer/default.asp">Production Designer</a></p>
	  <h1><a href="/props/default.asp">Props</a></h1>
      <h1><a href="/pyrotechnics/default.asp">Pyrotechnics</a></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="q">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="r">
	<h1><a href="/animation/default.asp">Animation</a></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="s">
    <h1><Set Construction</h1>
      <p><a href="/backlot sets/default.asp">Backlot Sets</a></p>
      <p><a href="/permanent interior sets/default.asp">Permanent Interior Sets</a></p>
	<h1><a href="/stunts/default.asp">Stunts</a></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="t">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="u">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="v">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="w">
	<h1><a href=/weather effects/default.asp">Weather Effects</a></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="x">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="y">
    <h1>No Listings</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body ng-app="">
  <div ng-switch-when="z">
	<h1><a href="/animation/default.asp">Animation</a></h1>
  </div>
  <br>
  <div class="w3-quarter"> <img src="https://s.studiobinder.com/wp-content/uploads/2018/03/How-To-Produce-a-Movie-the-Pre-Production-Process-Fight-Club-behind-the-scenes-studiobinder-film-production-software-1024x680.jpg?x37504&resolution=1680,2" alt="post-production" style="width:100%">
    <center>
      <h1>POST-PRODUCTION</h1>
		</center>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">

<center><form>
  Pick a topic:
  <input type="radio" ng-model="myVar" value="a">A
  <input type="radio" ng-model="myVar" value="b">B
  <input type="radio" ng-model="myVar" value="c">C
	<input type="radio" ng-model="myVar" value="d">D
	<input type="radio" ng-model="myVar" value="e">E
	<input type="radio" ng-model="myVar" value="f">F
	<input type="radio" ng-model="myVar" value="g">G
	<input type="radio" ng-model="myVar" value="h">H
	<input type="radio" ng-model="myVar" value="i">I
	<input type="radio" ng-model="myVar" value="j">J
	<input type="radio" ng-model="myVar" value="k">K
	<input type="radio" ng-model="myVar" value="l">L
	<input type="radio" ng-model="myVar" value="m">M
	<input type="radio" ng-model="myVar" value="n">N
	<input type="radio" ng-model="myVar" value="o">O
	<input type="radio" ng-model="myVar" value="p">P
	<input type="radio" ng-model="myVar" value="q">Q
	<input type="radio" ng-model="myVar" value="r">R
	<input type="radio" ng-model="myVar" value="s">S
	<input type="radio" ng-model="myVar" value="t">T
	<input type="radio" ng-model="myVar" value="u">U
	<input type="radio" ng-model="myVar" value="v">V
	<input type="radio" ng-model="myVar" value="w">W
	<input type="radio" ng-model="myVar" value="x">X
	<input type="radio" ng-model="myVar" value="y">Y
	<input type="radio" ng-model="myVar" value="z">Z
	</form></center>
  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="a">
     <h1>Animation</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="b">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="c">
     <h1>CGI</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="d">
     <h1>Digital Cinema</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="e">
     <h1>Effects - Matte Pairing</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="f">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="g">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="h">
     <h1>High Frame Rate</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="i">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="j">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="k">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="l">
     <h1>The Lab</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="m">
     <h1>Marketing</h1>
	 <h1>Music</h1>
			<a>Music Scoring</a>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="n">
     <h1>No Listings</h1>
			</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="o">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="p">
	 <h1>Presentation & Projection</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="q">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="r">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="s">
     <h1>Sound</h1>
			<a>Sound Effects</a><br>
			<a>Sound - Foley Stage</a><br>
			<a>Sound Mixing Stage</a><br>
			<a>Sound Recording</a><br>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="t">
     <h1>The Lab</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="u">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="v">
     <h1>Visual Effects</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="w">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="x">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="y">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="z">
     <h1>No Listings</h1>
			</div> 
	</div>
	<br>
	<br>
	<br>
	<br>

	
<footer>
	<p>&copy; Rise Studios at Harris Ranch</p>
  <p><strong>CONTACT</strong><br>
    Rise Studios at Harris Ranch<br>
    24505 West Dorris Avenue<br>
    Coalinga, CA 93210<br>
    559-935-0717 </p>
	<p>That's a wrap! &#127916;</p>
</footer>
</body>
</html>