<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <header>

	<h1>
  <center>
    <strong>RISE STUDIOS AT HARRIS RANCH</strong><br>
  </center>
</h1>
	<h2><center>Film Making for a New Generation<br>
		</center></h2>
	
<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
	align-content: stretch;
  background-color: 1B2433;
}
	
.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>
<style>
p.ex1 {
  margin: 20px;
}
</style>
<style>
.container {
    position: relative;
    text-align: center;
    color: black;
	font-family: Verdana;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
	* {
  box-sizing: border-box;
}
body {
  margin: 0;
}	
</style>

</head>
<body>	
<style>
	
	body {
        background-image: url("800px-HarrisRanchInn.jpg" alt "Harris Ranch Inn";
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
			body {
				font-size: 100%;
			}
		</style>
<div class="container"> <img src="file:///C|/Users/sacloan/Desktop/Web Design I/Github/rise-studios-at-harris-ranch/Rise-Studios-At-Harris-Ranch/Images/800px-HarrisRanchInn.jpg"" alt="Harris Ranch Inn" style="width:100%;opacity: 0.30;"> <br>
  <br>
	<br>
	<br>
	<br>
	<br>
	<br>
  <h1>
    <bold>
    <div class="centered">
    PROPOSAL <br>
    <br>
    This website provides information on plans to build a new film studio and creative arts hub at the famed Harris Ranch in California's Central Valley. <br>
    <br>
    We will champion the creativity of Latinos, women, and other underrepresented groups in the film arts on a national stage.<br>
    <br>
    The studio will grow the local economy, supporting around 350 direct jobs. <br>
    <br>
		<br>
		<br>
		 <a href="file:///C|/Users/sacloan/Desktop/Web Design I/Github/rise-studios-at-harris-ranch/Rise-Studios-At-Harris-Ranch/read more">Read More</a></h1>
		<br> 
  <br>
</div>
<style>
	
nav {
  float: center;
  width: 30%;
  height: 40px;
  background: #fff;
  padding: 10px;
}
	<style>
	
footer {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: white;
}
</style>
	  
	  <div><center><h1><strong>HARRIS RANCH</strong></h1><center>
	  </div>
	
	<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: 717173;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #DCDCDC;
}
</style>
</head>
<body>

<ul>
  <li><center><a href="https://www.harrisranch.com/">Home</a></li>
  <li><a href="https://www.harrisranch.com/harris-ranch-history/">History</a></li>
  <li><a href="https://www.harrisranch.com/galleries/">Galleries</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">The Inn</a></li>
	<li><a href="https://www.harrisranch.com/meetings/">Event Center</a></li>
	<li><a href="https://www.harrisranch.com/steakhouse/">Restaurants</a></li>
	<li><a href="#https://www.harrisranch.com/bakery/">Country Store & Bakery</a></li>
	<li><a href="#https://harrisfarmsinc.com/harrisfresh/index.htm">Harris Farms</a></li>
	<li><a href="#https://www.harrisranchbeef.com/">Harris Beef</a></li>
	<li><a href="#https://harrisfarms.com/">Thoroughbreds</a></li>
	<li><a href="#https://www.harrisranch.com/onsite-amenities/">Airport & Fuel</a></li>
	<li><a href="#https://www.harrisranch.com/contact/">Directions</a></center></i></li>
	</div>
</ul>

	  <br>
		  <br>
	<div><center><h1><strong>RISE STUDIOS</strong></h1><center>
	  </div>
	<style>
nav {
  float: center;
  width: 30%;
  height: 40px;
  background: #fff;
  padding: 10px;
}
	<style>
	
footer {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: white;
}
</style>
	
	<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: 717173;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #DCDCDC;
}
</style>
	
	<ul>
	<div class="topnav-centered">
  <li><a href="https://www.harrisranch.com/">Home</a></i></li>
  <li><a href="https://www.harrisranch.com/harris-ranch-history/">Map</a></li>
  <li><a href="https://www.harrisranch.com/galleries/">Facilities</a></li>
  <li><a href="https://www.harrisranch.com/room-options/">Stages</a></li>
	 <li><a href="https://www.harrisranch.com/room-options/">Sets</a></li>
	<li><a href="https://www.harrisranch.com/meetings/">Offices</a></li>
	<li><a href="https://www.harrisranch.com/steakhouse/">Shops</a></li>
	 <li><a href="https://www.harrisranch.com/room-options/">Commissary</a></li>
	 <li><a href="https://www.harrisranch.com/room-options/">Health & Fitness</a></li>
	<li><a href="#https://www.harrisranch.com/bakery/">Store & Supplies</a></li>
	 <li><a href="https://www.harrisranch.com/room-options/">Warehouse</a></li>
	 <li><a href="https://www.harrisranch.com/room-options/">General Services</a></li>
	<li><a href="#https://harrisfarmsinc.com/harrisfresh/index.htm">Greenspace</a></li>
	<li><a href="#https://www.harrisranchbeef.com/">Backlot</a></li>
</ul>
			  <br>
			  <br>
	<center><h1>FILMING LOCATIONS</h1></center>
<center><p>Harris Ranch is surrounded by some of the most beautiful filming locations in the world, as well as every other filming location you could imagine. </p></center>

	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">

<center><form>
  Pick a topic:
  <input type="radio" ng-model="myVar" value="a">A
  <input type="radio" ng-model="myVar" value="b">B
  <input type="radio" ng-model="myVar" value="c">C
	<input type="radio" ng-model="myVar" value="d">D
	<input type="radio" ng-model="myVar" value="e">E
	<input type="radio" ng-model="myVar" value="f">F
	<input type="radio" ng-model="myVar" value="g">G
	<input type="radio" ng-model="myVar" value="h">H
	<input type="radio" ng-model="myVar" value="i">I
	<input type="radio" ng-model="myVar" value="j">J
	<input type="radio" ng-model="myVar" value="k">K
	<input type="radio" ng-model="myVar" value="l">L
	<input type="radio" ng-model="myVar" value="m">M
	<input type="radio" ng-model="myVar" value="n">N
	<input type="radio" ng-model="myVar" value="o">O
	<input type="radio" ng-model="myVar" value="p">P
	<input type="radio" ng-model="myVar" value="q">Q
	<input type="radio" ng-model="myVar" value="r">R
	<input type="radio" ng-model="myVar" value="s">S
	<input type="radio" ng-model="myVar" value="t">T
	<input type="radio" ng-model="myVar" value="u">U
	<input type="radio" ng-model="myVar" value="v">V
	<input type="radio" ng-model="myVar" value="w">W
	<input type="radio" ng-model="myVar" value="x">X
	<input type="radio" ng-model="myVar" value="y">Y
	<input type="radio" ng-model="myVar" value="z">Z
	</form></center>
	<br>

<div ng-switch="myVar">
  <div ng-switch-when="a">
     <h1><a href="/accommodations/default.asp">Accommodations</a></h1>
	<p><a href="/bed & breakfast/default.asp">Bed & Breakfast</a></p>
	<p><a href="/elder & youth hostels/default.asp">Elder & Youth Hostels</a></p>
	  <p><a href="/hotels/default.asp">Hotels</a></p>
	<p><a href="/lodges/default.asp">Lodges</a></p>
	  <p><a href="/motels/default.asp">Motels</a></p>
	  <p><a href="/resorts & spas/default.asp">Resorts & Spas</a></p>
	<h1><a href="/bed & breakfast/default.asp">Bed & Breakfast</a></h1>
     <p><a href="/barns/default.asp">Barns</a></p>
     <p><a href="/crops/default.asp">Crops</a></p>
	  <p><a href="/dairy production/default.asp">Dairy Production</a></p>
	  <p><a href="/exotic animals/default.asp">Exotic Animals</a></p>
	  <p><a href="/farms/ranches/farm stands/default.asp">Farms/Ranches/Farm Stands</a></p>
	  <p><a href="/hatcheries/default.asp">Hatcheries</a></p>
	  <p><a href="/landscaping/default.asp">Landscaping</a></p>
	<p><a href="/livestock/default.asp">Livestock</a></p>
	  <p><a href="/bed & breakfast/default.asp">Bed & Breakfast</a></p>
	<p><a href="/orchards/default.asp">Orchards</a></p>
	  <p><a href="/vineyards/default.asp">Vineyards</a></p>
	<h1><a href="/auditoriums/default.asp">Auditoriums</a></h1>
     <p><a href="/amphiteaters/pavilions/default.asp">Amphitheaters/Pavilions</a></p>
     <p><a href="/concert halls/opera houses/default.asp">Concert Halls/Opera Houses</a></p>
	  <p><a href="/drive in theaters/default.asp">Drive In Theaters</a></p>
	  <p><a href="/IMAX Theater/default.asp">IMAX Theater</a></p>
	  <p><a href="/movie houses/default.asp">Movie Houses</a></p>
	  
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">

<div ng-switch="myVar">
  <div ng-switch-when="b">
	<h1><a href="/bars/nightclubs/default.asp">Bars/Nightclubs</a></h1>
     <p><a href="/beer gardens & beer halls/default.asp">Beer Gardens & Beer Halls</a></p>
     <p><a href="/dive bars/default.asp">Dive Bars</a></p>
	<p><a href="/country western/default.asp">Country Western</a></p>
	  <p><a href="/hotel lounges/default.asp">Hotel Lounges</a></p>
	  <p><a href="/microbreweries/default.asp">Microbreweries</a></p>
	  <p><a href="/neighborhood/default.asp">Neighborhood</a></p>
	<p><a href="/sports/default.asp">Sports</a></p>
	<p><a href="/striptease/gentlemen's clubs/default.asp">Striptease/Gentlemen's Clubs</a></p>
	  <p><a href="/theme/default.asp">Theme</a></p>
	 <p><a href="/upscale/default.asp">Upscale</a></p>
	  <p><a href="/waterfront/default.asp">Waterfront</a></p>
	  <p><a href="/wine/default.asp">Wine</a></p>	  
  </div>

<div ng-switch="myVar">
  <div ng-switch-when="c">
	  <h1><a href="/cemeteries/funerals/default.asp">Cemeteries/Funerals</a></h1>
	  <p><a href="/chapel/church/default.asp">Chapel/Church</a></p>
	  <p><a href="/funeral homes & mortuaries/default.asp">Funeral Homes & Mortuaries</a></p>
	 <p><a href="/historic/default.asp">Historic</a></p>
	  <p><a href="/military/veterans/default.asp">Military/Veterans</a></p>
     <p><a href="/morgues/default.asp">Morgues</a></p>
	  <p><a href="/municipal/default.asp">Municipal</a></p>
	  <p><a href="/private/default.asp">Private</a></p>
	  <h1><a href="/cities, towns & public spaces/default.asp">Cities, Towns & Public Spaces</a></h1>
    <p><a href="/border towns/default.asp">Border Towns</a></p>
     <p><a href="/cityscapes/aerial views/default.asp">Cityscapes/Aerial Views</a></p>
	  <p><a href="/coastal towns/default.asp">Coastal Towns</a></p>
	  <p><a href="/farm/rural towns/default.asp">Farm/Rural Towns</a></p>
	  <p><a href="/fountains & statues/default.asp">Fountains & Statues</a></p>
	  <p><a href="/historic districts/default.asp">Historic Districts</a></p>
	  <p><a href="/murals/graffiti/default.asp">Murals/Graffiti</a></p>
	  <p><a href="/small towns/main streets/default.asp">Small Towns/Main Streets</a></p>
	  <p><a href="/town squares & plazas/default.asp">Town Squares & Plazas</a></p>
	  <p><a href="/vacant lots/abandoned buildings/default.asp">Vacant Lots/Abandoned Buildings</a></p>
	  <p><a href="/valley towns/default.asp">Valley Towns</a></p>
	  <p><a href="/western/mining/ghost towns/default.asp">Western/Mining/Ghost Towns</a></p>
	  <h1><a href="/commercial-stores & retail/default.asp">Commercial-Stores & Retail</a></h1>
     <p><a href="/big box/default.asp">Big Box</a></p>
     <p><a href="/bookstores/default.asp">Bookstores</a></p>
	  <p><a href="/boutique/clothing/shoes/default.asp">Boutique/Clothing/Shoes</a></p>
	  <p><a href="/convenience stores/default.asp">Convenience Stores</a></p>
	  <p><a href="/department stores/default.asp">Department Stores</a></p>
	  <p><a href="/enclosed malls/default.asp">Enclosed Malls</a></p>
	  <p><a href="/flea markets/swap meets/default.asp">Flea Markets/Swap Meets</a></p>
	  <p><a href="/grocery stores/groceries/default.asp">Grocery Stores/Groceries</a></p>
	  <p><a href="/hardware/lumber yards/default.asp">Hardware/Lumber Yards</a></p>
	  <p><a href="/western/mining/ghost towns/default.asp">Western/Mining/Ghost Towns</a></p>
	  <p><a href="/laundromats.asp">Laundromats</a></p>
	  <p><a href="/malls/open malls/default.asp">Malls/Open Malls</a></p>
	  <p><a href="/mini malls/strip malls/default.asp">Mini Malls/Strip Malls</a></p>
	  <p><a href="/newsstands/default.asp">Newsstands</a></p>
	  <p><a href="/pharmacy/drug stores/default.asp">Pharmacy/Drug Stores</a></p>
	  <p><a href="/retail districts/default.asp">Retail Districts</a></p>
	  <p><a href="/supermarkets/default.asp">Supermarkets</a></p>
	  <p><a href="/toys/hobbies/hobby/crafts/default.asp">Toys/Hobbies/Hobby/Crafts</a></p>
	  <h1></h1><a href="/commercial businesses/default.asp">Commercial Businesses</a></h1>
     <p><a href="/art galleries/default.asp">Art Galleries</a></p>
     <p><a href="/auto dealerships/default.asp">Auto Dealerships</a></p>
	  <p><a href="/auto parts & repair/default.asp">Auto Parts & Repair</a></p>
	  <p><a href="/ballrooms & banquet halls/default.asp">Ballrooms & Banquet Halls</a></p>
	  <p><a href="/banks/default.asp">Banks</a></p>
	  <p><a href="/beauty & barber shops/day spas/default.asp">Beauty & Barber Shops/Day Spas/</a></p>
	  <p><a href="/car washes/default.asp">Car Washes</a></p>
	  <p><a href="/convention centers/default.asp">Convention Centers</a></p>
	  <p><a href="/western/mining/ghost towns/default.asp">Western/Mining/Ghost Towns</a></p>
	<p><a href="/gas stations/default.asp">Gas Stations</a></p>
	 <p><a href="/newsrooms/newspaper publishing/press rooms/default.asp">Newsrooms/Newspaper Publishing/Press Rooms</a></p>
	  <p><a href="/office buildings.asp">Office Buildings</a></p>
	 <p><a href="/office interiors/default.asp">Office Interiors</a></p>
	<p><a href="/other commerical businesses/default.asp">Other Commercial Businesses</a></p>
	  <p><a href="/parking lots/structures/default.asp">Parking Lots/Structures</a></p>
	<p><a href="/storage facilities/default.asp">Storage Facilities</a></p>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="d">
     <h1>No Listings</h1>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
	  <div ng-switch-when="e">
     <h1>Entertainment & Leisure</h1>
     <p>Amusement Parks</p>
	  <p>Aquariums</p>
	  <p>Attractions / Carnivals</p>
	  <p>Boardwalks</p>
	  <p>Casinos / Card Clubs</p>
	  <p>Exhibition Halls / Fairgrounds</p>
	  <p>Water Parks</p>
	  <p>Zoos</p>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="f">
     <h1>No Listings</h1>
	</div>
	
	<div ng-switch-when="g">
     <h1>Gardens</h1>
     <p>Arboretum / Botanical</p>
	  <p>Community Gardens</p>
	  <p>Desert Gardens</p>
	  <p>English / French Country</p>
	  <p>Estate Grounds / Formal / Manicured Gardens</p>
	  <p>Japanese / Asian / Chinese</p>
	  <p>Mediterranean</p>
	  <p>Tropical</p>
		<h1>Governmental</h1>
     <p>Civic & Community Centers</p>
	  <p>Conservation Corps Camps / Fire Camps</p>
	  <p>Courthouses & Courtrooms</p>
	  <p>Fire Stations</p>
	  <p>Government Buildings</p>
	  <p>Police Facilities</p>
	  <p>Prison & Jails</p>
	  <p>Public Utility / Public Utilities</p>
<p>Arboretum / Botanical</p>
	  <p>Community Gardens</p>
	  <p>Desert Gardens</p>
	  <p>English / French Country</p>
	  <p>Estate Grounds / Formal / Manicured Gardens</p>
	  <p>Japanese / Asian / Chinese</p>
	  <p>Mediterranean</p>
	  <p>Tropical</p>
  </div>
<div ng-switch-when="h">
  <h1>Hospitals / Health Care Facilities</h1>
     <p>Clinics</p>
	  <p>Dental Offices</p>
	  <p>Elder Care / Nursing Homes</p>
	  <p>Hospitals</p>
	  <p>Medical Offices</p>
	  <p>Veterinarian / Animal Shelters</p>
	  </div>
	
	<div ng-switch-when="i">
     <h1>Institutional</h1>
     <p>California Missions</p>
	  <p>Churches</p>
	  <p>Convents / Retreats / Seminary</p>
	  <p>Library</p>
	  <p>Shrines / Temples</p>
	  <p>Social & Fraternal Halls</p>
	  <p>Synagogues</p>
	  </div>
			
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="j">
     <h1>No Listings</h1>
	</div>
			
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="k">
     <h1>No Listings</h1>
	</div>
			
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="l">
     <h1>No Listings</h1>
	</div>
	
	<div ng-switch-when="m">
   <h1>Manufacturing & Industrial</h1>
     <p>Basements & Boiler Rooms</p>
	  <p>Container Yards</p>
	  <p>Factories / Plants</p>
	  <p>Industrial Districts</p>
	  <p>Junkyards / Auto Crushers</p>
	  <p>Laboratories / Research / Technical Facilities</p>
	  <p>Landfills</p>
		<p>Manufacturing Disricts</p>
		<p>Mills / Workshops</p>
		<p>Mines / Quarries / Gravel Pits</p>
		<p>Oil Industry / Refineries</p>
		<p>Recycling Facilities</p>
		<p>Underground Tunnels / Service Tunnels</p>
		<p>Warehouses</p>
	<h1>Military</h1>
		<p>California National Guard</p>
		<p>Historic Forts</p>
		<p>Ships / Vessels</p>
		<p>US Air Force</p>
		<p>US Army</p>
		<p>US Army Corps of Engineers</p>
		<p>US Coast Guard</p>
		<p>US Marines Corps</p>
		<ps>US Navy</ps>
	<h1>Museums</h1>
		<p>Applied Arts / Design</p>
		<p>Childrens</p>
		<p>Cultural History</p>
		<p>Film & Television</p>
		<p>Fine Arts</p>
		<p>Folk Arts</p>
		<p>Maritime</p>
		<p>Natural History</p>
		<p>Observatories / Planetariums</p>
		<p>Science & Industries</p>
		<p>Transportation</p>
</div>
	
	<div ng-switch-when="n">
     <h1>Natural Landscapes / Parks</h1>
     <p>Camps / Campgrounds</p>
	  <p>Canyons / Gorges</p>
	  <p>Caves / Caverns</p>
	  <p>City Parks</p>
	  <p>County Parks / Regional Parks</p>
	  <p>Deserts / Barren Lands</p>
	  <p>Dry Lake Beds / Salt Flats</p>
		<p>Federal Parks / National Parks</p>
		<p>Forests / Woodlands</p>
		<p>Jungles</p>
		<p>Mountains / Rocks / Geologic Oddities</p>
		<p>Open Terrain / Scenic Vistas</p>
		<p>Sand Dunes</p>
		<p>State Conservancy Lands</p>
		<p>State Parks</p>
</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="o">
     <h1>No Listings</h1>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="p">
     <h1>No Listings</h1>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="q">
     <h1>No Listings</h1>
	</div>
	
	<div ng-switch-when="r">
     <h1>Residential</h1>
     <p>Apartments / Condos</p>
	  <p>Brownstones / Row Houses</p>
	  <p>Cabins / Log Houses</p>
	  <p>Castles</p>
	  <p>Duplexes / Triplexes</p>
	  <p>Houses</p>
	  <p>Lofts / Studios</p>
		<p>Low Income Housing Projects</p>
		<p>Mansions / Estates</p>
		<p>Migrant Family Housing</p>
		<p>Military</p>
		<p>Mobile Homes / Trailer Parks</p>
		<p>Neighborhoods</p>
		<p>Planned Communities</p>
		<p>Shelters / Transient Housing</p>
		<p>Tract Housing</p>
     <h1>Restaurants</h1>
      <p>50's Diners</p>
	  <p>Bakeries / Donut Shops</p>
	  <p>Cafe</p>
	  <p>Cafeterias</p>
	  <p>Chain</p>
	  <p>Coffee Houses</p>
	  <p>Synagogues</p>
	  <p>Coffee Shops / Delis</p>
	  <p>Drive Ins</p>
	  <p>Drive Through / Drive Thru</p>
      <p>Ethnic</p>
	  <p>Family Dining</p>
      <p>Fast Food</p>
	  <p>Food Stands / Concession Stands</p>
	  <p>Ice Cream</p>
	  <p>Pizzerias</p>
	  <p>Truck Stops</p>
	  <p>Upscale</p>
	  <p>Waterfronts</p>
	</div>
	
	<div ng-switch-when="s">
    <h1>Schools</h1>
      <p>Colleges / Universities</p>
	  <p>Day Care / Preschools</p>
	  <p>Elementary / Middle Schools</p>
	  <p>High Schools</p>
	  <p>Historic Schoolhouses</p>
	  <p>Trade / Technical Schools</p>
    <h1>Sports</h1>
     <p>Archery Ranges</p>
	  <p>Arenas & Stadiums</p>
	  <p>Baseball</p>
	  <p>Basketball Outdoor</p>
	  <p>Billiards / Pool Halls</p>
	  <p>Bowling Alleys</p>
	  <p>Boxing</p>
	  <p>Equestrian / Horseback Riding / Polo Fields</p>
	  <p>Firing Ranges / Gun Clubs</p>
	  <p>Football</p>
	  <p>Golf/Country Clubs</p>
	  <p>Gymnasiums</p>
	  <p>Health Clubs / Workout Studios</p>
	  <p>Ice Skating / Hockey Rinks</p>
	  <p>Martial Arts</p>
	  <p>Motor Raceways / Speedways</p>
	  <p>Outdoor Playing Fields / Tracks</p>
	  <p>Racquet Sports / Tennis</p>
	  <p>Roller Skating Rinks</p>
	  <p>Skate Parks</p>
	  <p>Skiing / Snow Sports</p>
	  <p>Swimming Pools</p>
     <h1>Studio Facilities</h1>
      <p>Filming / Water Tanks</p>
	  <p>ChMovie Ranchesonvents / Retreats / Seminary</p>
	  <p>Photo Studios / Labs/p>
	  <p>Radio Broadcastingocial & Fraternal Halls</p>
	  <p>Rehearsal Halls / Dance Studios</p>
	  <p>Screening Rooms / Home Theaters</p>
      <p>Sound Stages</p>
	  <p>Standing Sets</p>
	  <p>Sound Recording / Scoring Stages</p>
	  <p>Television / Broadcast / Cable / News Sets</p>
	  <p>Studio Backlots</p>
	</div>
	
	<div ng-switch-when="t">
     <h1>Transportation</h1>
     <p>Aircraft / Airports / Hangars</p>
	  <p>Airstrips</p>
	  <p>Alleys</p>
	  <p>Boats & Ships</p>
	  <p>Bridges</p>
	  <p>Bridges - Covered</p>
	  <p>Bridges - Moveable</p>
	  <p>Bridges - Pedestrian</p>
	  <p>Buses / Bus Stations</p>
	  <p>Cable Cars / Trolleys</p>
	  <p>Ferry Service / Ferries</p>
	  <p>Freeways / Freeway Look a Likes</p>
	  <p>Tramways / Incline Railways</p>
	  <p>Heliports / Helipads</p>
	  <p>Maintenance Yards</p>
	  <p>Railroads / Train Stations / Depots</p>
	  <p>Roads / Highways</p>
      <p>Subways</p>
	  <p>Tollbooths</p>
	  <p>Tunnels - Pedestrian Tunnels</p>
	  <p>Tunnels - Roadway Tunnels</p>
</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="u">
     <h1>No Listings</h1>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="v">
     <h1>No Listings</h1>
	</div>
	
	<div ng-switch-when="w">
     <h1>Water & Coastal Areas</h1>
     <p>Beach Caves</p>
	  <p>Beaches / Coastline</p>
	  <p>Coastal Dunes</p>
	  <p>Commercial Ports / Harbors / Piers</p>
	  <p>Deltas / Canals</p>
	  <p>Islands</p>
	  <p>Lakes / Dams / Reservoirs</p>
	  <p>Lighthouses</p>
	  <p>Marinas / Yacht Clubs</p>
	  <p>Ponds / Lagoons/ Swimming Holes</p>
	  <p>Rivers / Rapids</p>
	  <p>Springs / Geysers</p>
	  <p>Swamps / Marshes / Wetlands</p>
	  <p>Waterfalls</p>
	</div>
			
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="x">
     <h1>No Listings</h1><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</div>
	
<body ng-app="">
		
		<div ng-switch-when="y">
     <h1>No Listings</h1>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="z">
     <h1>No Listings</h1>
	</div>
	
	
	  <!-- !PAGE CONTENT! -->
	  
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
		  <h1>PRE-PRODUCTION</h1>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">

<center><form>
  Pick a topic:
  <input type="radio" ng-model="myVar" value="casting">Casting
  <input type="radio" ng-model="myVar" value="directing">Directing
  <input type="radio" ng-model="myVar" value="producing">Producing
	<input type="radio" ng-model="myVar" value="writing">Writing
	<input type="radio" ng-model="myVar" value="location scouting">Location Scouting
	<input type="radio" ng-model="myVar" value="storyboarding">Storyboarding
</form></center>
    </div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="casting">
     <h1>Casting</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="directing">
     <h1>Directing</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="producing">
     <h1>Producing</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="writing">
     <h1>Writing</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="location scouting">
     <h1>Location Scouting</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="storyboarding">
     <h1>Storyboarding</h1>
			</div>
	<br>
    <div class="w3-quarter">
      <img src="https://s.studiobinder.com/wp-content/uploads/2021/08/How-to-Produce-a-Movie-The-Pre-Production-Process-Explained-Featured.jpg" alt "Pre-Production" style="width:100%">

	  </div>
    <h1>PRODUCTION</h1>
    </div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">

<center><form>
  Pick a topic:
  <input type="radio" ng-model="myVar" value="a">A
  <input type="radio" ng-model="myVar" value="b">B
  <input type="radio" ng-model="myVar" value="c">C
	<input type="radio" ng-model="myVar" value="d">D
	<input type="radio" ng-model="myVar" value="e">E
	<input type="radio" ng-model="myVar" value="f">F
	<input type="radio" ng-model="myVar" value="g">G
	<input type="radio" ng-model="myVar" value="h">H
	<input type="radio" ng-model="myVar" value="i">I
	<input type="radio" ng-model="myVar" value="j">J
	<input type="radio" ng-model="myVar" value="k">K
	<input type="radio" ng-model="myVar" value="l">L
	<input type="radio" ng-model="myVar" value="m">M
	<input type="radio" ng-model="myVar" value="n">N
	<input type="radio" ng-model="myVar" value="o">O
	<input type="radio" ng-model="myVar" value="p">P
	<input type="radio" ng-model="myVar" value="q">Q
	<input type="radio" ng-model="myVar" value="r">R
	<input type="radio" ng-model="myVar" value="s">S
	<input type="radio" ng-model="myVar" value="t">T
	<input type="radio" ng-model="myVar" value="u">U
	<input type="radio" ng-model="myVar" value="v">V
	<input type="radio" ng-model="myVar" value="w">W
	<input type="radio" ng-model="myVar" value="x">X
	<input type="radio" ng-model="myVar" value="y">Y
	<input type="radio" ng-model="myVar" value="z">Z
	</form></center>
  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="a">
     <h1>Animation</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="b">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="c">
     <h1>Costumes</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="d">
     <h1>Dressing Rooms</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="e">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="f">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="g">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="h">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="i">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="j">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="k">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="l">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="m">
     <h1>Mechanical Effects</h1>
	 <h1>Movements</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="n">
     <h1>No Listings</h1>
			</div>
		
		<div ng-switch-when="o">
     <h1>On Location</h1>
	 <h1>On the Soundstage</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="p">
	 <h1>Performance Capture</h1>
     <h1>Photography</h1>
			<a>Director of Photography/Camera</a>
	 <h1>Production</h1>
			<a>Back Production</a>
			<a>Front Projection</a>
			<a>Production Designer</a>		
	 <h1>Props</h1>
	 <h1>Pyrotechnics</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="q">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="r">
     <h1>Animation</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="s">
     <h1>Set Construction</h1>
			<a>Backlot Sets</a>
			<a>Permanent Interior Sets</a>
	 <h1>Stunts</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="t">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="u">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="v">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="w">
     <h1>Weather Effects</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="x">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="y">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="z">
     <h1>Animation</h1>
			</div> 
	
	<br>
    <div class="w3-quarter">
      <img src="https://s.studiobinder.com/wp-content/uploads/2018/03/How-To-Produce-a-Movie-the-Pre-Production-Process-Fight-Club-behind-the-scenes-studiobinder-film-production-software-1024x680.jpg?x37504&resolution=1680,2" alt="post-production" style="width:100%">
      <h1>POST-PRODUCTION</h1>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">

<center><form>
  Pick a topic:
  <input type="radio" ng-model="myVar" value="a">A
  <input type="radio" ng-model="myVar" value="b">B
  <input type="radio" ng-model="myVar" value="c">C
	<input type="radio" ng-model="myVar" value="d">D
	<input type="radio" ng-model="myVar" value="e">E
	<input type="radio" ng-model="myVar" value="f">F
	<input type="radio" ng-model="myVar" value="g">G
	<input type="radio" ng-model="myVar" value="h">H
	<input type="radio" ng-model="myVar" value="i">I
	<input type="radio" ng-model="myVar" value="j">J
	<input type="radio" ng-model="myVar" value="k">K
	<input type="radio" ng-model="myVar" value="l">L
	<input type="radio" ng-model="myVar" value="m">M
	<input type="radio" ng-model="myVar" value="n">N
	<input type="radio" ng-model="myVar" value="o">O
	<input type="radio" ng-model="myVar" value="p">P
	<input type="radio" ng-model="myVar" value="q">Q
	<input type="radio" ng-model="myVar" value="r">R
	<input type="radio" ng-model="myVar" value="s">S
	<input type="radio" ng-model="myVar" value="t">T
	<input type="radio" ng-model="myVar" value="u">U
	<input type="radio" ng-model="myVar" value="v">V
	<input type="radio" ng-model="myVar" value="w">W
	<input type="radio" ng-model="myVar" value="x">X
	<input type="radio" ng-model="myVar" value="y">Y
	<input type="radio" ng-model="myVar" value="z">Z
	</form></center>
  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="a">
     <h1>Animation</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="b">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="c">
     <h1>CGI</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="d">
     <h1>Digital Cinema</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="e">
     <h1>Effects - Matte Pairing</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="f">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="g">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="h">
     <h1>High Frame Rate</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="i">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="j">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="k">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="l">
     <h1>The Lab</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="m">
     <h1>Marketing</h1>
	 <h1>Music</h1>
			<a>Music Scoring</a>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="n">
     <h1>No Listings</h1>
			</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="o">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="p">
	 <h1>Presentation & Projection</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="q">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="r">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="s">
     <h1>Sound</h1>
			<a>Sound Effects</a><br>
			<a>Sound - Foley Stage</a><br>
			<a>Sound Mixing Stage</a><br>
			<a>Sound Recording</a><br>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="t">
     <h1>The Lab</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="u">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="v">
     <h1>Visual Effects</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="w">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="x">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="y">
     <h1>No Listings</h1>
			</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
		
		<div ng-switch-when="z">
     <h1>No Listings</h1>
			</div> 
	</div>
	<br>
	<br>
	<br>
	<br>

	
<footer>
	<p>&copy; Rise Studios at Harris Ranch</p>
  <p><strong>CONTACT</strong><br>
    Rise Studios at Harris Ranch<br>
    24505 West Dorris Avenue<br>
    Coalinga, CA 93210<br>
    559-935-0717 </p>
	<p>That's a wrap! &#127916;</p>
</footer>
</body>
</html>