<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<h1>
  <center>
    <strong>RISE STUDIOS AT HARRIS RANCH</strong><br>
  </center>
</h1>
<h2>
  <center>
Film Making for a New Generation    <br>
  </center>
</h2>
	

<style>
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: 1B2433;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
</style>
<style>
p.ex1 {
    margin: 20px;
}
</style>
<style>
.container {
    position: relative;
    text-align: center;
    color: black;
    font-family: Verdana;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
</style>
</head><body>
<br>
<style>
nav {
  float: center;
  width: 30%;
  height: 40px;
  background: #ccc;
  padding: 10px;
}
	<style>
	
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
</style>
<center>
  <img src="../Images/800px-HarrisRanchInn.jpg"="width=device-width">
</center>
<h1>
  <center>
    FILMING LOCATIONS
  </center>
</h1>
<p>
  <center>
    Surrounded by some of the most beautiful filming locations in the world, as well as every other filming location you could imagine.
  </center>
</p>
	<br>
	<br>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
A
<select ng-model="myVar">
  <option value="accommodations">Accommodations
  <option value="agricultural">Agricultural
  <option value="auditoriums">Auditoriums
</select>

<hr>
<div ng-switch="myVar">
  <div ng-switch-when="accommodations">
     <h1>Accommodations</h1>
     <p>Bed & Breakfast</p>
	  <p>Elder & Youth Hostels</p>
	  <p>Hotels</p>
	  <p>Lodges</p>
	  <p>Motels</p>
	  <p>Resorts & Spas</p>
  </div>
  <div ng-switch-when="agricultural">
     <h1>Agricultural</h1>
     <p>Barns</p>
	  <p>Crops</p>
	  <p>Dairy Production</p>
	  <p>Exotic Animals</p>
	  <p>Farms/Ranches/Farm Stands</p>
	  <p>Fish Farms/Hatcheries</p>
	  <p>Flowers/Landscaping</p>
	  <p>Livestock</p>
	  <p>Orchards</p>
	  <p>Vineyards</p>
	  
  </div>
  <div ng-switch-when="auditoriums">
     <h1>Auditoriums</h1>
     <p>Amphitheaters/Pavilions</p>
	  <p>Concert Halls/Opera Houses</p>
	  <p>Drive In Theaters</p>
	  <p>IMAX Theater</p>
	  <p>Movie Houses</p>
  </div>
  <div ng-switch-default>
  </div>

	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
B
<select ng-model="myVar">
	<option value="bars / nightclubs">Bars / Nightclubs
</select>

<hr>
<div ng-switch="myVar">
  <div ng-switch-when="bars / nightclubs">
     <h1>Bars / Nightclubs</h1>
     <p>Beer Gardens & Beer Halls</p>
	  <p>Biker/Dive Bars</p>
	  <p>Country Western</p>
	  <p>Hotel Lounges</p>
	  <p>Microbreweries</p>
	  <p>Neighborhood</p>
	  <p>Sports</p>
	  <p>Striptease/Gentlemen's Clubs</p>
	  <p>Theme</p>
	  <p>Upscale</p>
	  <p>Waterfront</p>
	  <p>Wine</p>
  </div>
  <div ng-switch-when="agricultural">
     <h1>Agricultural</h1>
     <p>Barns</p>
	  <p>Crops</p>
	  <p>Dairy Production</p>
	  <p>Exotic Animals</p>
	  <p>Farms/Ranches/Farm Stands</p>
	  <p>Fish Farms/Hatcheries</p>
	  <p>Flowers/Landscaping</p>
	  <p>Livestock</p>
	  <p>Orchards</p>
	  <p>Vineyards</p>
	  
  </div>
  <div ng-switch-when="auditoriums">
     <h1>Auditoriums</h1>
     <p>Amphitheaters/Pavilions</p>
	  <p>Concert Halls/Opera Houses</p>
	  <p>Drive In Theaters</p>
	  <p>IMAX Theater</p>
	  <p>Movie Houses</p>
	  <p>Variety Theaters/Music Halls</p>
  </div>
  <div ng-switch-default>
  </div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
C
<select ng-model="myVar">
  <option value="cemeteries / funerals">Cemeteries / Funerals
  <option value="cities, towns & public spaces">Cities, Towns & Public Spaces
  <option value="commercial - stores & retail">Commercial - Stores & Retail
	  <option value="commercial businesses">Commercial Businesses
		  
</select>

<hr>
<div ng-switch="myVar">
  <div ng-switch-when="cemeteries / funerals">
     <h1>Cemeteries / Funerals</h1>
	  <p>Chapel / Church</p>
	  <p>Funeral Homes & Mortuaries</p>
	  <p>Historic</p>
     <p>Military / Veterans</p>
	  <p>Morgues</p>
	  <p>Municipal</p>
	  <p>Private</p>
  </div>
  <div ng-switch-when="cities, towns & public spaces">
     <h1>Cities, Towns & Public Spaces</h1>
     <p>Border Towns</p>
	  <p>Cityscapes / Aerial Views</p>
	  <p>Coastal Towns</p>
	  <p>Farm / Rural Towns</p>
	  <p>Fountains & Statues</p>
	  <p>Historic Districts</p>
	  <p>Murals / Graffiti</p>
	  <p>Small Towns / Main Streets</p>
	  <p>Town Squares & Plazas</p>
	  <p>Vacant Lots / Abandoned Buildings</p>
	  <p>Valley Towns</p>
	  <p>Western / Mining / Ghost Towns</p>
	  
  </div>
  <div ng-switch-when="commercial - stores & retail">
     <h1>Commercial - Stores & Retail</h1>
     <p>Big Box</p>
	  <p>Bookstores</p>
	  <p>Boutique / Clothing / Shoes</p>
	  <p>Convenience Stores</p>
	  <p>Department Stores</p>
	  <p>Enclosed Malls</p>
	  <p>Flea Markets / Swap Meets</p>
	  <p>Grocery Stores / Groceries</p>
	  <p>Hardware / Lumber Yards</p>
	  <p>Laundromats</p>
	  <p>Malls / Open Malls</p>
	  <p>Mini Malls / Strip Malls</p>
	  <p>Newsstands</p>
	  <p>Other Stores</p>
	  <p>Pharmacy / Drug Stores</p>
	  <p>Retail Districts</p>
	  <p>Supermarkets</p>
	  <p>Toys / Hobbies / Hobby / Crafts</p>
  </div>
	
	<div ng-switch-when="commercial businesses">
     <h1>Commercial Businesses</h1>
     <p>Art Galleries</p>
	  <p>Auto Dealerships</p>
	  <p>Auto Parts & Repair</p>
	  <p>Ballrooms & Banquet Halls</p>
	  <p>Banks</p>
	  <p>Beauty & Barber Shops / Day Spas</p>
	  <p>Car Washes</p>
	  <p>Convention Centers</p>
	  <p>Gas Stations</p>
	  <p>Newsrooms / Newspaper Publishing / Press Rooms</p>
	  <p>Office Buildings</p>
	  <p>Office Interiors</p>
	  <p>Other Commercial Businesses</p>
	  <p>Parking Lots / Structures</p>
	  <p>Storage Facilities</p>
  </div>
  <div ng-switch-default>
  </div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
E
<select ng-model="myVar">
  <option value="entertainment & leisure">Entertainment & Leisure
		  
</select>
		
		<div ng-switch-when="entertainment & leisure">
     <h1>Entertainment & Leisure</h1>
     <p>Amusement Parks</p>
	  <p>Aquariums</p>
	  <p>Attractions / Carnivals</p>
	  <p>Boardwalks</p>
	  <p>Casinos / Card Clubs</p>
	  <p>Exhibition Halls / Fairgrounds</p>
	  <p>Water Parks</p>
	  <p>Zoos</p>
  </div>
  <div ng-switch-default>
  </div>
</div>
<hr>


<div class="column middle">
<a href="#" class="card">
<div class="flex-container">
  <div style="flex-grow: 3">Accommodations - <br>
	  	Bed & Breakfast</div>
	<div style="flex-grow: 3">Accommodations - <br>
		Elder & Youth 
		Hostels</div>
  <div style="flex-grow: 3">Accommodations - <br>
	  	Hotels</div>
	<div style="flex-grow: 3">Accommodations - <br> 
		Lodges</div>
	<div style="flex-grow: 3">Accommodations - <br>
		Motels</div>
</div>
	<br>
	<br>
	<div class="column middle">
<a href="#" class="card">
<div class="flex-container">
	<div style="flex-grow: 3">Accommodations - <br>
		Resorts & Spas</div>
  <div style="flex-grow: 3">Agricultural - <br>
	  		Barns</div>
  <div style="flex-grow: 3">Agricultural - <br>
	  		Crops</div>
  <div style="flex-grow: 3">Agricultural - <br>
	  		Dairy Production</div>
  <div style="flex-grow: 3">Agricultural - <br>
	  		Exotic Animals</div>
	
	
</div>
	<br>
	<br>
<div class="column middle">
<a href="#" class="card">
<div class="flex-container">
	<div style="flex-grow: 3">Agricultural - <br>
			Farms/Ranches/ <br>
			Farm Stands</div>
	<div style="flex-grow: 3">Agricultural- <br>
			Fish Farms/ <br>
			Hatcheries</div>	
	<div style="flex-grow: 3">Agricultural - <br>
			Flowers</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Livestock</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Orchards</div>
 </div>
<br>
<br>
	<div class="column middle">
<a href="#" class="card">
<div class="flex-container">
	<div style="flex-grow: 3">Agricultural - <br>
			Vineyards</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Farms/Ranches/
			Farm Stands</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Fish Farms/<br>
			Hatcheries</div>	
	<div style="flex-grow: 3">Agricultural - <br>
			Flowers</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Livestock</div>
 </div>
	
	<div class="column middle">
<a href="#" class="card">
<div class="flex-container">
	<div style="flex-grow: 3">Agricultural - <br>
			Orchards</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Orchards - Citrus</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Vineyards</div>	
	<div style="flex-grow: 3">Auditoriums /
			Theaters - <br>
			Amphitheaters / Pavilions</div>
	<div style="flex-grow: 3">Auditoriums / <br>
			Theaters - <br> 
			Amphitheaters / Pavilions</div>
	</div>
	
	<div class="column middle">
<a href="#" class="card">
<div class="flex-container">
	<div style="flex-grow: 3">Auditoriums / <br>
			Concert Halls / Opera Halls</div>
	<div style="flex-grow: 3">Auditoriums / <br>
			Drive In Theaters</div>
	<div style="flex-grow: 3">Auditoriums / <br>
			IMAX Theaters</div>	
	<div style="flex-grow: 3">Auditoriums /
			Movie Houses - <br>
			Amphitheaters / Pavilions</div> 
			</div>
	<div class="column middle">
<a href="#" class="card">
<div class="flex-container">
	<div style="flex-grow: 3">Agricultural - <br>
			Orchards</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Orchards - Citrus</div>
	<div style="flex-grow: 3">Agricultural - <br>
			Vineyards</div>
	<div style="flex-grow: 3">Auditoriums /
			Theaters - <br>
			Amphitheaters / Pavilions</div>
	<div style="flex-grow: 3">Auditoriums / <br>
			Theaters - <br> 
			Amphitheaters / Pavilions</div>
	</div>
	</div>
	
	<footer>
  <p>&copy; Rise Studios at Harris Ranch</p>
</footer>
</body>
</html>
